/* Sidebar styles */

.sidebar {
    width: 1470px;
    margin-top: 40px;
    background-color: #efe9e9;
    padding: 20px;
    font-family: Arial, sans-serif;
}

    .sidebar .navbar-brand {
        font-size: 70px;
        font-weight: 600;
        background-image: linear-gradient(to left, #b393d3, #81258b);
        color: #430949;
        background-clip: text;
        -webkit-background-clip: text;
        padding-bottom:40px;
    }

    li {
        list-style-type: none; /* Убираем маркеры */
    }

    .sidebar .navbar-toggler {
        display: none;
    }


    .sidebar .nav-link {
        display: block;
        color: #4b2020;
        text-decoration: none;
        font-size: 18px;
        padding: 8px 0;
        transition: background-color 0.3s;
        list-style-type: none
    }

        .sidebar .nav-link:hover {
            background-color: #ddd;
        }

/* Main content styles */
.main {
    flex: 1;
    display: flex;
    flex-direction: row;
}

    .main .top-row {
        background-color: mediumslateblue;
        color: #fff;
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

        .main .top-row a {
            color: #fff;
            text-decoration: none;
            margin-left: 20px;
        }

/* Responsive styles */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

        .sidebar.show {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            z-index: 999;
        }

    .main .top-row {
        justify-content: flex-start;
    }

        .main .top-row a {
            margin-left: 0;
        }

    .sidebar .navbar-toggler {
        display: block;
        background-color: rosybrown;
        border: none;
    }

        .sidebar .navbar-toggler .navbar-toggler-icon {
            color: #fff;
        }

    .sidebar .nav.flex-column {
        padding: 20px;
    }

    .sidebar .nav-link {
        font-size: 18px;
        padding: 8px 0;
    }
}

.data-frame {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}

.dropdown-widget {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.dropdown-toggle {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

    .dropdown-toggle:focus {
        outline: none;
    }

.dropdown-menu {
    position: absolute;
    height:300px;
    bottom: 100%;
    right: 0;
    min-width: 300px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: none;
}

    .dropdown-menu table {
        width: 100%;
    }

        .dropdown-menu table th,
        .dropdown-menu table td {
            padding: 8px;
        }

        .dropdown-menu table th {
            background-color: #333;
            color: #fff;
        }

        .dropdown-menu table td {
            border-top: 1px solid #ccc;
        }

        .dropdown-menu table tr:last-child td {
            border-bottom: 1px solid #ccc;
        }

        .dropdown-menu table tbody tr:hover {
            background-color: #ddd;
        }

    .dropdown-menu .close-button {
        position: absolute;
        top: 5px;
        right: 5px;
        color: #999;
        cursor: pointer;
    }

        .dropdown-menu .close-button:hover {
            color: lightgreen;
        }
